# cloud-init/99-vmware.cfg
# Configures cloud-init to use the VMware GuestInfo datasource.
# This file is baked into the template by the Packer file provisioner.
# It tells cloud-init to read metadata and userdata from VMware GuestInfo
# properties, which are injected at deploy time by govc or Terraform.
#
# Placed at: /etc/cloud/cloud.cfg.d/99-vmware.cfg

datasource_list: [VMware, NoCloud, None]

datasource:
  VMware:
    # Allow GuestInfo properties to set network config
    allow_raw_data: true
